<label>
  {{if label label attributeName}}
  {{#if aliasType}}
    {{input value=value
            classBinding="errors.length:error"
            type=aliasType
            placeholder=placeholder}}
  {{else}}
    {{input value=value
            classBinding="errors.length:error"
            placeholder=placeholder}}
  {{/if}}
</label>
{{#if errors.length}}<small class="error">{{displayErrors}}</small>{{/if}}
